html {
  box-sizing: border-box;
  font-size: 16px;
}
html, body, #root {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #3C3C3C;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #3C3C3C;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}